<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>The BAJer</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but bajer-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <div style="width: 100vw; height: 100vh; font-family: sans-serif; display: flex; justify-content: center; align-content: center; margin-top: 50vh;">
            <span>The BAJer is loading the necessary files. Please wait.</span>
        </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
