<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          The BAJer
        </h1>
      </v-flex>

      <v-flex
        mb-5
        xs12
      >
      <p>Created by <a href="https://aaronlauterer.com" title="Aaron Lauterer">Aaron Lauterer</a> as a master thesis project.</p>
      <p>Data taken from the <a href="http://adsabs.harvard.edu/" title="ADS">ADS</a></p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style>

</style>
