<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-light mb-3">
          Welcome to The<b class="font-weight-bold">BAJer</b>
        </h1>
        <p class="subheading font-weight-regular">
          The tool to get easy insights into <b>B</b>ibliometrics of <b>A</b>stronomical <b>J</b>ournals.
        </p>
      </v-flex>

      <v-flex
        mb-5
        xs12
      >
        <v-btn
          depressed
          color="primary"
          v-on:click="$store.dispatch('plot/addPlot')"
          >Create a new Plot</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>
